Web References/com.cbimtech.GetClashList/ClashService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://services.cbimtech.com/WebServices/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.cbimtech.com/WebServices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://services.cbimtech.com/WebServices/">
      <s:element name="GetClashList">
        <s:complexType />
      </s:element>
      <s:element name="GetClashListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClashListResult" type="tns:ArrayOfClashOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClashOutput">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ClashOutput" nillable="true" type="tns:ClashOutput" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ClashOutput">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProjectID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProjectName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IssueCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IssueStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IssueDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Revision" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IssueDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FeedbackDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="isDone" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetClashDetailList">
        <s:complexType />
      </s:element>
      <s:element name="GetClashDetailListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClashDetailListResult" type="tns:ArrayOfClashDetailOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClashDetailOutput">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ClashDetailOutput" nillable="true" type="tns:ClashDetailOutput" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ClashDetailOutput">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProjectID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProjectName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MemberID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="IssueCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IssueStatus" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NoOfRepeat" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Sources" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Level" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tower" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Grid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IssueDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Image1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Image2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Image3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Image4" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Revision" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IssueDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SendTo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cc_to" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="From" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descipline" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Matrix1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Matrix2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Priority" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Year" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FeedbackDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="LayoutType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Company_Team" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConstructorSolution" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ConstructorSolution_Date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BIMSolution" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BIMSolution_Date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ClientSolution" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ClientSolution_Date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ConsultantSolution" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ConsultantSolution_Date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="isDone" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetClashByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClashByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClashByIDResult" type="tns:ClashDetailOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddClash">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="enity" type="tns:ClashInput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ClashInput">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProjectID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProjectName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MemberID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="IssueCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IssueStatus" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NoOfRepeat" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Sources" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Level" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tower" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Grid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IssueDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Image1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Image2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Image3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Image4" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Revision" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IssueDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SendTo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cc_to" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="From" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descipline" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Matrix1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Matrix2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Priority" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Year" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FeedbackDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="LayoutType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Company_Team" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConstructorSolution" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ConstructorSolution_Date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BIMSolution" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BIMSolution_Date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ClientSolution" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ClientSolution_Date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ConsultantSolution" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ConsultantSolution_Date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="isDone" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddClashResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddClashResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditClash">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="enity" type="tns:ClashInput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditClashResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EditClashResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClashStatus">
        <s:complexType />
      </s:element>
      <s:element name="GetClashStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClashStatusResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetClashDescipline">
        <s:complexType />
      </s:element>
      <s:element name="GetClashDesciplineResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClashDesciplineResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClashErrorType">
        <s:complexType />
      </s:element>
      <s:element name="GetClashErrorTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClashErrorTypeResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClashMatrix">
        <s:complexType />
      </s:element>
      <s:element name="GetClashMatrixResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClashMatrixResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClashMatrixDefault">
        <s:complexType />
      </s:element>
      <s:element name="GetClashMatrixDefaultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClashMatrixDefaultResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetClashListSoapIn">
    <wsdl:part name="parameters" element="tns:GetClashList" />
  </wsdl:message>
  <wsdl:message name="GetClashListSoapOut">
    <wsdl:part name="parameters" element="tns:GetClashListResponse" />
  </wsdl:message>
  <wsdl:message name="GetClashDetailListSoapIn">
    <wsdl:part name="parameters" element="tns:GetClashDetailList" />
  </wsdl:message>
  <wsdl:message name="GetClashDetailListSoapOut">
    <wsdl:part name="parameters" element="tns:GetClashDetailListResponse" />
  </wsdl:message>
  <wsdl:message name="GetClashByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetClashByID" />
  </wsdl:message>
  <wsdl:message name="GetClashByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetClashByIDResponse" />
  </wsdl:message>
  <wsdl:message name="AddClashSoapIn">
    <wsdl:part name="parameters" element="tns:AddClash" />
  </wsdl:message>
  <wsdl:message name="AddClashSoapOut">
    <wsdl:part name="parameters" element="tns:AddClashResponse" />
  </wsdl:message>
  <wsdl:message name="EditClashSoapIn">
    <wsdl:part name="parameters" element="tns:EditClash" />
  </wsdl:message>
  <wsdl:message name="EditClashSoapOut">
    <wsdl:part name="parameters" element="tns:EditClashResponse" />
  </wsdl:message>
  <wsdl:message name="GetClashStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetClashStatus" />
  </wsdl:message>
  <wsdl:message name="GetClashStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetClashStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetClashDesciplineSoapIn">
    <wsdl:part name="parameters" element="tns:GetClashDescipline" />
  </wsdl:message>
  <wsdl:message name="GetClashDesciplineSoapOut">
    <wsdl:part name="parameters" element="tns:GetClashDesciplineResponse" />
  </wsdl:message>
  <wsdl:message name="GetClashErrorTypeSoapIn">
    <wsdl:part name="parameters" element="tns:GetClashErrorType" />
  </wsdl:message>
  <wsdl:message name="GetClashErrorTypeSoapOut">
    <wsdl:part name="parameters" element="tns:GetClashErrorTypeResponse" />
  </wsdl:message>
  <wsdl:message name="GetClashMatrixSoapIn">
    <wsdl:part name="parameters" element="tns:GetClashMatrix" />
  </wsdl:message>
  <wsdl:message name="GetClashMatrixSoapOut">
    <wsdl:part name="parameters" element="tns:GetClashMatrixResponse" />
  </wsdl:message>
  <wsdl:message name="GetClashMatrixDefaultSoapIn">
    <wsdl:part name="parameters" element="tns:GetClashMatrixDefault" />
  </wsdl:message>
  <wsdl:message name="GetClashMatrixDefaultSoapOut">
    <wsdl:part name="parameters" element="tns:GetClashMatrixDefaultResponse" />
  </wsdl:message>
  <wsdl:portType name="ClashServiceSoap">
    <wsdl:operation name="GetClashList">
      <wsdl:input message="tns:GetClashListSoapIn" />
      <wsdl:output message="tns:GetClashListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClashDetailList">
      <wsdl:input message="tns:GetClashDetailListSoapIn" />
      <wsdl:output message="tns:GetClashDetailListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClashByID">
      <wsdl:input message="tns:GetClashByIDSoapIn" />
      <wsdl:output message="tns:GetClashByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddClash">
      <wsdl:input message="tns:AddClashSoapIn" />
      <wsdl:output message="tns:AddClashSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditClash">
      <wsdl:input message="tns:EditClashSoapIn" />
      <wsdl:output message="tns:EditClashSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClashStatus">
      <wsdl:input message="tns:GetClashStatusSoapIn" />
      <wsdl:output message="tns:GetClashStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClashDescipline">
      <wsdl:input message="tns:GetClashDesciplineSoapIn" />
      <wsdl:output message="tns:GetClashDesciplineSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClashErrorType">
      <wsdl:input message="tns:GetClashErrorTypeSoapIn" />
      <wsdl:output message="tns:GetClashErrorTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClashMatrix">
      <wsdl:input message="tns:GetClashMatrixSoapIn" />
      <wsdl:output message="tns:GetClashMatrixSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClashMatrixDefault">
      <wsdl:input message="tns:GetClashMatrixDefaultSoapIn" />
      <wsdl:output message="tns:GetClashMatrixDefaultSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClashServiceSoap" type="tns:ClashServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetClashList">
      <soap:operation soapAction="http://services.cbimtech.com/WebServices/GetClashList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClashDetailList">
      <soap:operation soapAction="http://services.cbimtech.com/WebServices/GetClashDetailList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClashByID">
      <soap:operation soapAction="http://services.cbimtech.com/WebServices/GetClashByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddClash">
      <soap:operation soapAction="http://services.cbimtech.com/WebServices/AddClash" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditClash">
      <soap:operation soapAction="http://services.cbimtech.com/WebServices/EditClash" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClashStatus">
      <soap:operation soapAction="http://services.cbimtech.com/WebServices/GetClashStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClashDescipline">
      <soap:operation soapAction="http://services.cbimtech.com/WebServices/GetClashDescipline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClashErrorType">
      <soap:operation soapAction="http://services.cbimtech.com/WebServices/GetClashErrorType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClashMatrix">
      <soap:operation soapAction="http://services.cbimtech.com/WebServices/GetClashMatrix" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClashMatrixDefault">
      <soap:operation soapAction="http://services.cbimtech.com/WebServices/GetClashMatrixDefault" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ClashServiceSoap12" type="tns:ClashServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetClashList">
      <soap12:operation soapAction="http://services.cbimtech.com/WebServices/GetClashList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClashDetailList">
      <soap12:operation soapAction="http://services.cbimtech.com/WebServices/GetClashDetailList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClashByID">
      <soap12:operation soapAction="http://services.cbimtech.com/WebServices/GetClashByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddClash">
      <soap12:operation soapAction="http://services.cbimtech.com/WebServices/AddClash" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditClash">
      <soap12:operation soapAction="http://services.cbimtech.com/WebServices/EditClash" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClashStatus">
      <soap12:operation soapAction="http://services.cbimtech.com/WebServices/GetClashStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClashDescipline">
      <soap12:operation soapAction="http://services.cbimtech.com/WebServices/GetClashDescipline" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClashErrorType">
      <soap12:operation soapAction="http://services.cbimtech.com/WebServices/GetClashErrorType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClashMatrix">
      <soap12:operation soapAction="http://services.cbimtech.com/WebServices/GetClashMatrix" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClashMatrixDefault">
      <soap12:operation soapAction="http://services.cbimtech.com/WebServices/GetClashMatrixDefault" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClashService">
    <wsdl:port name="ClashServiceSoap" binding="tns:ClashServiceSoap">
      <soap:address location="https://services.cbimtech.com/WebServices/ClashService.asmx" />
    </wsdl:port>
    <wsdl:port name="ClashServiceSoap12" binding="tns:ClashServiceSoap12">
      <soap12:address location="https://services.cbimtech.com/WebServices/ClashService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>